<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container mt-5">
    <h2>Welcome, <span th:text="${username}"></span>!</h2>
    <p>You are logged in as an admin</p>

    <div class="mb-3">
        <a class="btn btn-primary" th:href="@{/admin/movies}">Manage Movies</a>
    </div>

    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-primary">Logout</button>
    </form>
</div>
</body>
</html>